<%- include ('../partials/header') %>
    <%- include ('../partials/menu') %>
        <style>

        </style>
        <main>
            <div class="container">
                <%- include ('../partials/message') %>
                    <% art.forEach(function(image) { %>
                        <center><img src="<%- image.imageurl %>" style="width: 40%;"></center>
                        </tr>
                        <% }); %>
                            <table style="margin: auto;">
                                <th>
                                    <form action="" method="">
                                        <input type="hidden" class="form-control" id="guess_AI" value="AI"
                                            name="guess_AI" />
                                        <button type="submit" class="btn btn-primary btn-lg">AI</button>
                                    </form>
                                </th>
                                <th>
                                    <form action="" method="">
                                        <input type="hidden" class="form-control" id="guess_Real" value="Real"
                                            name="guess_Real" />
                                        <button type="submit" class="btn btn-success btn-lg">Real</button>
                                    </form>
                                </th>
                            </table>
        </main>

        <%- include ('../partials/footer') %>