<%- include ('../partials/header') %>
    <%- include ('../partials/menu') %>

        <main>
            <div class="container">
                <%- include ('../partials/message') %>
                    <center><h1>You lost :(</h1></center>
                    <center><img src="<%- url %>" style="width: 40%;"></center>
                    <center><h1><%= type %></h1></center>
                    <center><h1><%= description %></h1></center>
                    <center>
                        <form action="/game" method="get">
                            <input type="hidden" class="form-control" id="play_again" />
                            <button type="submit" class="btn btn-success btn-lg">Play Again!</button>
                        </form>
                    </center>
        </main>

        <%- include ('../partials/footer') %>