<%- include ('../partials/header') %>
<%- include ('../partials/menu') %>

<main>
    <div class="container">
        <%- include ('../partials/message') %>
        <p></p>
        <center>
            <div style="background-color: RGBA(33,37,41,var(--bs-bg-opacity,0.75))!important; display: inline-block; padding: 15px; border-radius: 10px;">
                <% if(data) { %>
                    <p class="fs-1 fw-bold"><%= data.username %>'s Stats</p>
                    <h1></h1>
                    <div class="row">
                        <% if(data.highscore) { %>
                            <p class="fs-4">Highscore: <%= data.highscore %></p>
                        <% } else { %>
                            <p class="fs-4">Play your first game!</p>
                        <% } %> 
                    </div>
                    <div class="row">
                        <% if(data.totalImages) { %>
                            <p class="fs-4">Total Images Seen: <%= data.totalImages %></p>
                        <% } %>
                    </div>
                <% } else { %>
                    <div class="alert alert-danger" role="alert">
                        <h1>User data not found</h1>
                    </div>
                <% } %>
            </div>
        </center>
</main>

<%- include ('../partials/footer') %>