<%- include ('../partials/header') %>
<%- include ('../partials/menu') %>

<main>
    <div class="container">
        <%- include ('../partials/message') %>
        <% if(data) { %>
            <p class="fs-1 fw-bold"><%= data.username %>'s Stats</p>
            <h1></h1>
            <div>
                <p class="fs-4">High Score: <%= data.highscore %></p>
                <p class="fs-4">Images Seen: <%= data.totalImages %></p>
            </div>
        <% } else { %>
            <div class="alert alert-danger" role="alert">
                <h1>User data not found</h1>
            </div>
        <% } %>
</main>

<%- include ('../partials/footer') %>