<%- include ('../partials/header') %>
<%- include ('../partials/menu') %>

<main>
    <div class="container">
        <%- include ('../partials/message') %>
        <% if(data) { %>
            <h1><%= data.username %>'s Stats</h1>
            <p>High Score: <%= data.hgihscore %></p>
            <p>Images Seen: <%= data.totalImages %></p>
        <% } else { %>
            <h1>User data not found</h1>
        <% } %>
</main>

<%- include ('../partials/footer') %>